.img-fluid {
    max-width: 100%;
    height: auto;
}

.left-color {
    background-color: #00242c;
    color: #eff9f1;
}

.top-color {
    background-color: #03674f;
    color: #eff9f1;
}

.bottom-color {
    background-color: #eff9f1;
}