.img-fluid {
    max-width: 70%;
    height: auto;
}

.left-bg-color {
    background-color: #00242c;
}

.left-color-title {
    color: #a5d2e6;
}

.left-color-text {
    color: #eff9f1;
}

.top-color {
    background-color: #03674f;
    color: #eff9f1;
}

.bottom-color {
    background-color: #eff9f1;
}

.bottom-text-color {
    color: #03674f
}

.bottom-title-color {
    color: #253836
}

.panel {
    height: 100%;
}